.badge {
    padding: $sp1 $sp2;
    border: 1px solid #000;
    text-transform: uppercase;
    border-radius: 40px;

    &--primary {
        background-color: $primary-color;


    &--black {
    
        background-color: #000;
    }   color: #fff; 
    }


}
