.card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  background-color: $background-color-cards;
  border-radius: 10px;
  padding: $sp3;
  box-shadow: $box-shadow;

  &--selected {
    border-left: 5px solid $primary-color;
  }


  .card__column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #000;
    align-items: flex-start;

    &--left {
      border-bottom: 1px solid $label-color;
      
    }

    &--rigth {
        flex-direction: row;
        flex-wrap: wrap;
        bor
    }
        

  .card__img {
    height: 75p;
    width: 75px;
    margin-top: -54px;
  }

  .card__subtitle {
    color: $primary-color;
    font-size: $font-size;
    margin: $sp3 0;
  }

  .card__title {
    cursor: pointer;
    margin: $sp3 0;

    &:hover {
      color: $primary-color;
    }
  }

  .card__detail {
    display: flex;
    color: $label-color;

    .card__detail__item {
      &:nth-last-child(n + 2)::after {
        content: " ";
        width: 3px;
        height: 3px;
        border-radius: 3px;
        display: inline-block;
        background-color: black;
        margin: 0 $sp3;
      }
    }
  }
  .card__tag {
    padding: $sp2 $sp3;
    margin: $sp2 $sp1;
    background-color: $background-color;
    font-weight: $font-weight-bold;
    font-size: $font-size;
    color: $primary-color;
    border-radius: 5px;

    &:hover {
      color: #fff;
      background-color: $primary-color;
    }

    
  }


}
}
